body { 
	display: flex;
	align-items: center;
	justify-content: center;
	background: #B5C8B1;
}

.main-container {
	 width: 100%;
	 height: content;
	 min-width: 300px;
	 max-width: 600px;

	 position: relative;
	 padding: 56px;
	 background: rgba(255, 255, 255, 0.4);
	 backdrop-filter: blur(9px);
	}

.title {
	margin-bottom: 10px;    /* Заголовок */
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	color: #000;
}

form {
	width: 100%;      /* Форма */
	margin-top: 6px;
}
form input {
	width: 100%;      /* Элемент формы */
	display: block;
	padding: 12px;
	margin-top: 8px;
 
	font-size: 15px;
	font-weight: 300;
	color: darkgrey;
	background: #ECF8E9;
	border: #D1D1D1 solid 2px;
	/*background: #E0E9DE;
	border: grey solid 1.3px;*/
}
input:hover, input:focus, input:after {
	outline: #D1D1D1 solid 2px;
	outline-offset: none;
	border: #FFF solid 2px;
	background: #FFF;
	color: #000;
	transition-duration: 0.1s;
}
.login { margin-top: 18px; }


.button { margin: 6px 0 0 0 ; }    /* Кнопки */
a {
	margin-top: 6px;
	font-size: 14px;
	text-decoration: none;
	color: grey;
}
a:hover { color: #000; }