:hover, :active, :focus, :after { outline: none; outline-offset: none; }
* { box-sizing: border-box; }
::selection { background: #B5C8B1; color: #000;}
a, .variant, .price { user-select: none; }
body {
	font-family: 'Roboto', sans-serif;
	margin: 0px;
	display: grid;
	grid-template-rows: : auto auto 1fr;
}
main { margin: 0 auto;}
body::-webkit-scrollbar { width: 12px; }
body::-webkit-scrollbar-track { background: #ECF8E9; }
body::-webkit-scrollbar-thumb { background: #868686; }
:link { text-decoration: none; }
ul, ol { margin: 0; padding: 0; }
li { list-style-type: none; }

/* ------------- Кнопки ------------- */
button:hover, a:hover { transition-duration: 0.2s; cursor: pointer; }
button:not(:hover), a:not(:hover) { transition-duration: 0.2s; }
.button {
	width: 100%;
	margin-top: 12px;
	padding: 8px;
	background: #018326;
	color: #FFF;
	font-size: 18px;
	font-weight: 400;
	text-align: center;
	border: #018326 solid 1px;
}
.button:hover { background: #00B233;  color: #FFF; }
.empty-button {
	text-align: center;
	width: 100%;
	font-size: 18px;
	color: #018326;
	min-width: 330px;
	padding: 6px;
	margin-top: 6px;
	border: #2FB855 solid 1px;
	background: #ECFFEE;
	align-self: center;
}
.empty-button:hover { background: #FFF; }
.disabled {	display: none; }








/* ------------- Строка навигации ------------- */
.fixed { position: fixed; }
.block { width: 38px; height: auto; border-radius: 36px; }
header, nav {
	position: relative;
	width: 100%;
	padding: 0 36px 0 36px;

	display: flex;
	align-items: center;
}
header {
	padding: 8px 72px;
	background: #018326;
	justify-content: space-around;
}
nav {
	color: #018326;
	font-size: 18px;
	background: #EFEFEF;
	justify-content: space-around;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.navigation { display: none; }
header .name {
	font-size: 36px;
	font-family: 'Play';
	padding: 0 42px;
}
header a, header a:hover, header a:visited { color: #FFF; }
.user-block {
	display: flex;
	align-items: center;
}
.user { margin-right: 14px; }
.search-line {
	z-index: 1;
	width: 60%;
	display: flex;
	justify-content: center;
}
.search {
	font-size: 16px;
	font-family: 'Roboto';
	width: 86%;
	margin-right: 6px;
	padding: 8px;
	border: none;
}
.search-btn {
	font-size: 16px;
	padding: 8px 12px;
	border: none;
	background: #FFF;
}





footer { background: #222224; padding: 12px; }
footer ul { display: flex; justify-content: space-around; padding: 0; margin: 12px 0 12px 0; }
footer li { list-style-type: none; list-style-color: #FFF; line-height: 2; font-weight: 300; }
footer a { text-decoration: none; color: #FFF; font-size: 18px
}






/* ---------------------- Подчёркивание ---------------------- */
.underline { position: relative; }
.underline:after {
	content: "";
	display: block;
	position: absolute;
	right: 0;
	bottom: -3px;
	width: 0;
	height: 1px; /* Высота линии */
	background: #FFF; /* Цвет подчеркивания при исчезании линии*/
	transition: width 0.5s; /* Время эффекта */
}

.user-block:hover .underline:after, .underline:hover:after {
	content: "";
	width: 100%;
	display: block;
	position: absolute;
	left: 0;
	bottom: -3px;
	height: 1px; /* Высота линии */
	background: #FFF; /* Цвет подчеркивания при появлении линии*/
	transition: width 0.5s;  /* Время эффекта */
}









/* -------------------- Выпадающий список Категории товаров ------------------- */
.label { font-size: 22px; display: flex; align-items: center; }
.label span { margin-right: 6px; }
.navigation svg, nav svg {
	stroke: #018326;
	stroke-width: 2px;
	fill: none;
	padding-top: 3px;
	width: 20px;
	height: 17px;
}
.dropdown-content svg {
	fill: none;
	stroke: #464646;
	width: 11px; height: 18px;
}
.dropbtn {
	color: #018326;
	padding: 14px 10px;
	border: none;
}
.dropdown {
	position: relative;
	display: inline-block;
	cursor: pointer;
}
.dropdown-content  {
	transform: scaleY(0);
	transform-origin: 0 0;
	position: absolute;
	background: #EFEFEF;
	min-width: 250px;
	box-shadow: 0px 8px 12px -1px rgba(0, 0, 0, 0.3);
	z-index: 1;
}

.dropdown-content li {
	font-size: 16px;
	color: #303030;
	display: flex;
	align-items: center;
	border-bottom: 2px solid rgb(255, 255, 255);
	padding: 12px 16px;
	text-decoration: none;
}
.space-between li { justify-content: space-between; align-items: flex-start; user-select: none; }
li input { transform: scale(1.2); margin-right: 12px; }
nav a, nav a:visited { color: #303030; }
.dropdown-content li:hover { background: #FFF; color: #004B15; }
.dropdown:hover .dropdown-content  { transform: scaleY(1); transition-duration: 0.3s; }
.price-from-to { display: flex; align-items: center; }
.from-to-item:first-child { cursor: default; margin-right: 8px; }
.price-from-to input {
	padding: 6px 8px;
	border: #9B9A9A solid 1px;
	margin-right: 8px;
	max-width: 140px;
}
.submenu {
	visibility: hidden;
	transform: scaleX(0);
	transform-origin: 0 0;
	
	left: 100%;
	position: absolute;
	background: #EFEFEF;
	min-width: 250px;
	box-shadow: 0px 8px 12px -1px rgba(0, 0, 0, 0.3);
	z-index: 1;
}
.submenu li { width: content; }
.dropdown-content li:hover .submenu {
	transform: scaleX(1);
	visibility: visible;
	transition-duration: 0.5s;
}
.navigation select {
	width: 100%;
	font-size: 16px;
	color: #303030;
	background: none;
	border: none;
}









label {
  position: relative; /* to contain absolute elements */
  padding-left:30px; /* free space for custom checkbox */
  cursor: pointer;
}
/* hide default checkbox  */
label input[type=checkbox] {
  position: absolute; /* prevent taking any space */
  /* cross-browser hidingg */
  opacity: 0;
  width:0; 
  height:0;
}
/* custom checkbox */
label span {
  position: absolute;
  /* position to the free space in <label> */
  top:0;
  left:0;
  width:20px; 
  height:20px;
  background-color: #ddd;
  transition: .3s background-color; /* slight transition */
}
/* the check icon */
label span:after {
  content: "";
  position: absolute;
  display: none;
  
  /* check icon */
  left: 6px;
  top: 2px;
  width: 4px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
label:hover span {
  background-color: #ccc;
}
/**** Here's the trick ***/
label input:checked ~ span { background-color: #00B233; }
label input:checked ~ span:after { display:block; }















/* ------------- Данные пользователя (User-contacts) ------------- */
.contacts-container {
	width: 100%;
	margin-top: 12px;
	display: flex;
	flex-direction: column;
	color: #000;
}
.contacts-container .contact:nth-child(2n) { background: #EDF3EB; }
.contact {
	width: 100%;
	display: flex;
	height: content;
	align-items: center;
	font-size: 18px;
	padding: 6px 1px 6px 6px;
}
.contact a:visited, .contact a { color: #000; }
.icon {
	width: 32px;
	height: 32px;	
	margin-right: 12px;
}









/* ======================= Большие экраны ==========================*/
@media screen and ( max-width: 1232px ) {
	/* -------- FONT-SIZES ------- */
	nav .label { font-size: 18px; }
	nav .dropdown-content a { font-size: 16px; }

	/*.search-line input { width: 280px; }*/
	/* ------- PADDING -------- */
	nav .dropbtn { padding: 6px; }
	nav .price-from-to { padding: 6px; }
}

/*========================= Планшеты =============================*/
@media screen and ( max-width: 850px ) {
	header .name { padding: 0 12px; }
	.user { display: none; }
}
 

/* ------------- Телефоны -------------- */
@media screen and ( max-width: 600px ) {
	.navigation {
		position: hidden;
		display: flex;
		flex-direction: column;
		align-content: center;
	}
	nav { display: none; }
	header { padding: 8px 0; }
	.search-line, .search-btn { padding: 6px; }
	.user-block:nth-child(1n) { margin-right: 0; }
	footer ul { flex-direction: column; align-items: center; }
	.underline:after { background: #222224; }
	.underline:hover:after { background: #222224; }
}
@media screen and ( max-width: 425px ) {
	.block { margin-right: 0; }
}