* { box-sizing: border-box; }
::selection { background: #B5C8B1; color: #000;}
body {
	font-family: 'Roboto', sans-serif;
	margin: 0px;
}
body::-webkit-scrollbar { width: 12px; }
body::-webkit-scrollbar-track { background-color: #ECF8E9; }
body::-webkit-scrollbar-thumb { background: rgba(34, 34, 36, 0.4); }
:link { text-decoration: none; }

/* ------------- Кнопки ------------- */
button:hover, a:hover { transition-duration: 0.3s; cursor: pointer; }
button:not(:hover), a:not(:hover) { transition-duration: 0.3s; }
.button {
	width: 100%;
	margin-top: 12px;
	padding: 8px;
	background-color: #018326;
	color: #FFF;
	font-size: 18px;
	font-weight: 400;
	text-align: center;
	border: #018326 solid 1px;
}
.button:hover { background-color: #00B233;  color: #FFF; }
.empty-button {
	text-align: center;
	width: 100%;
	font-size: 18px;
	color: #018326;
	min-width: 300px;
	padding: 6px;
	margin-top: 6px;
	border: #2FB855 solid 1px;
	background-color: #FFF;
	align-self: center;
}
.empty-button:hover { background-color: #ECF8E9; color: #025F00; }
.disabled {	display: none; }








/* ------------- Строка навигации ------------- */
.fixed { position: fixed; }
.block { width: 26px; height: 26px; margin-right: 12px; }
header, nav {
	position: relative;
	width: content;
	font-size: 20px;
	font-weight: 400;
	padding: 8px;

	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
}
header { background-color: #018326; }
nav {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	color: #018326;
	background-color: #EFEFEF;
	padding: 0px 8px;
}
.name {
	font-size: 32px;	
	font-weight: 400;
	cursor: pointer;
	color: #FFF;
}
 
/* -------------------- Линия поиска --------------------------- */
.search-line input, .search-line button {
	font-size: 16px;
	font-weight: 300;
	padding: 8px;

	border: none;
	background-color: #FFF;
	color: #5E5E5E;
}
.search-line input:hover, .search-line input:focus, .search-line button:hover { color: #000; border: none;
	background-color: #FFF; }

.search-line input { width: 500px; cursor: text;}
.search-line button { padding: 8px 12px; cursor: pointer; }








footer { background: #222224; padding: 12px; }
footer ul { display: flex; justify-content: space-around; padding: 0; margin: 12px 0 12px 0; }
footer li { list-style-type: none; list-style-color: #FFF; line-height: 2; font-weight: 300; }
footer a { text-decoration: none; color: #FFF; font-size: 18px; }







/* -------------------- Пользователь --------------------------- */
.user {
	font-size: 16px;
	text-decoration: none;
	color: #FFF;
}
/*.user:hover { border-bottom: #FFF solid 1px; }*/
.user:active, .user:visited { color: #FFF;	text-decoration: none; }
:hover, :active, :focus, :after {
	outline: none;
	outline-offset: none;
}
.user-block {
	display: flex;
	align-items: center;
}







/* ---------------------- Подчёркивание ---------------------- */
.underline { position: relative; }
.underline:after {
	content: "";
	display: block;
	position: absolute;
	right: 0;
	bottom: -3px;
	width: 0;
	height: 1px; /* Высота линии */
	background-color: #FFF; /* Цвет подчеркивания при исчезании линии*/
	transition: width 0.5s; /* Время эффекта */
}

.underline:hover:after {
	content: "";
	width: 100%;
	display: block;
	position: absolute;
	left: 0;
	bottom: -3px;
	height: 1px; /* Высота линии */
	background-color: #FFF; /* Цвет подчеркивания при появлении линии*/
	transition: width 0.5s;  /* Время эффекта */
}









/* -------------------- Выпадающий список Категории товаров ------------------- */
.label { font-size: 22px; }
.dropbtn {
	color: #018326;
	padding: 14px 10px;
	border: none;
}
.dropdown {
	position: relative;
	display: inline-block;
	cursor: pointer;
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #EFEFEF;
	min-width: 160px;
	box-shadow: 0px 8px 12px -1px rgba(0, 0, 0, 0.3);
	z-index: 1;
}
.dropdown-content:first-child {
	background-color: background-color: rgba(0, 75, 21, 0);
}
.dropdown-content a {
	transition-duration: 0.2s;
	font-size: 16px;
	color: #303030;
	display: block;
	border-bottom: 2px solid rgb(255, 255, 255);
	padding: 12px 16px;
	text-decoration: none;
}
.dropdown-content a:hover { background-color: #FFF; color: #004B15; }
.dropdown:hover .dropdown-content { display: block; }
.price-from-to {
	display: flex;
	align-items: center;
}
.from-to-item {  }
.from-to-item:first-child { cursor: default; margin-right: 8px; }
.price-from-to input {
	padding: 6px 8px;
	border: #9B9A9A solid 1px;
	margin-right: 8px;
}










/* ------------- Данные пользователя (User-contacts) ------------- */
.contacts-container {
	width: 100%;
	margin-top: 12px;
	display: flex;
	flex-direction: column;
	color: #000;
}
.contacts-container .contact:nth-child(2n) { background-color: #EDF3EB; }
.contact {
	width: 100%;
	display: flex;
	height: content;
	align-items: center;
	font-size: 18px;
	padding: 6px 1px 6px 6px;
}
.contact a:visited { color: #000; }

.icon {
	width: 32px;
	height: 32px;	
	margin-right: 12px;
}









/* ======================= Большие экраны ==========================*/
@media screen and ( max-width: 1032px ) {
	/* -------- FONT-SIZES ------- */
	header, nav { font-size: 10px; }
	.name {	font-size: 22px; }
	nav .label { font-size: 18px; }
	nav .dropdown-content a { font-size: 14px; }
	header .search-line input, .search-line button { font-size: 12px; }

	.user { display: none; }

	.search-line input { width: 400px; }
	/*.search-line input { width: 280px; }*/
	/* ------- PADDING -------- */
	nav .dropbtn { padding: 6px; }
	nav .price-from-to input { padding: 4px 6px; }
	header .user { font-size: 14px; }
}

/*========================= Планшеты ============================= */
@media screen and ( max-width: 850px ) {
	.name, .user { display: none; }
}


/* ------------- Телефоны -------------- */
@media screen and ( max-width: 600px ) {
	.search-line input { width: 180px; padding: 6px; }
	.search-line button { padding: 6px; }
	.user-block:nth-child(1n) { margin-right: 0; }

	footer ul { flex-direction: column; align-items: center; }
	.underline:after { background-color: #222224; }
	.underline:hover:after { background-color: #222224; }
}
@media screen and ( max-width: 425px ) {
	.block { margin-right: 0; }
}